<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mydatabase.mapper.AwardRuleMapper">
    <insert id="insertAwardRule" parameterType="com.mydatabase.model.AwardRule">
        INSERT INTO award_rule (id, quest_rule_id, amount, award_type, status, created_date, created_by, updated_date, updated_by)
        VALUES (#{id}, #{questRuleId}, #{amount}, #{awardType}, #{status}, #{createdDate}, #{createdBy}, #{updatedDate}, #{updatedBy})
    </insert>
</mapper>